
            <div class="row">
                <main class="col-md-12">
                    <!-- Start your code here -->
                  
                    <header>
                        <h1 style="font-size: 50px">Welcome to My Page</h1>
                      </header>
                      <section>
                        <h2>Who Am I?</h2>
                        <p>My name is Chahat Jain, and I am currently enrolled in BTT (Web700) program  at Seneca College. <br>My student ID is 177139219.<br> I am passionate about IT industry and am constantly seeking new ways to learn and grow in this field.</p>
                      </section>
                    <!-- End your code here  -->
                </main>
            </div>
       